@import "tailwindcss/base";
@import "tailwindcss/components";

// Additional styles
@import "additional-styles/utility-patterns.scss";
@import "additional-styles/theme.scss";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Pyidaungsu";
  src: local("Pyidaungsu"), url("./fonts/Pyidaungsu.woff2") format("woff2"),
    url("./fonts/Pyidaungsu.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  @apply antialiased bg-slate-100 text-slate-600;
}

* {
  font-family: "Pyidaungsu" !important;
}

.home_bg {
  background-image: url("/images/home/bg.png");
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e6b041 #2b3646;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #2b3646;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b3646;
  border-radius: 10px;
  border: 1px solid #2b3646;
}
